
/* Dropdown Button */
./* dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
} */


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}

/* Links inside the dropdown */
.dropdown-content a {
	position: relative;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
	transition: .3s;

}
.dropdown-content a:hover{
	text-decoration: none;
	color: var(--secondary_font_clr);
}

/* Change color of dropdown links on hover */
/* .dropdown-content a:hover {background-color: #ddd;} */

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
.subdropdown:hover .dropdown-contents {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
/* .dropdown:hover .dropbtn {background-color: #3e8e41;} */

.dropdown-menus{
	background: #303455;
}

.dropdown-content{
	border-top: 2px solid red;
	width: 200px;

}
.dropdown-contents{
	border-top: 2px solid red;
	display: none;
	position: absolute;
	top: 0;
	left: 100%;
	width: 100%;
}

.circle{
	height: 5px;
	width: 5px;
	border-radius: 50%;
	background: red;
	position: absolute;
	top: 50%;
	left: 2%;
	display: none;
	transition: left .3s;
}

.dropdown-menus li a:hover .circle{
	display: block;
	transition: left .3s;

}
.dropdown-menus li a:hover{
	margin-left: 1rem;
	transition: .3s;
}






@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Herr+Von+Muellerhoff&family=Source+Sans+Pro&display=swap');


*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

:root{
	--body_bg_clr:#242949;
	--secondary_font_clr: #ff5f6d;
	 --text-font: font-family: 'Open Sans', sans-serif;
	 --secondary_font: 'Herr Von Muellerhoff', cursive;
	 	--main_font: 'Source Sans Pro', sans-serif;
}
body{
	height: 100%;
	width: 100%;
	background-size: cover;
	background: var(--body_bg_clr);
	font-family: var(--main_font);

}

#particles-js{
	height: 550%;
	width: 100%;
	background: var(--body_bg_clr);
	background-size: cover;
	position: absolute;
	z-index: -1;

}


header{
	position: fixed;
	z-index: 999;
	width: 100vw;
}

.actives a{
	color: var(--secondary_font_clr)!important;
}

.fa-sun{
	width: 100%;
	text-align: center;
	color: white;
	font-size: 2rem;
	padding-top: 1rem;
}

.navbar{
	padding: 0;
	width: 90vw;
	margin: 0 auto;
}
.navbar-nav{
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.nav-item .nav-link{
	color: white;
		border-right: 1px solid #888;
		transition: color .3s;
}

.nav-item .nav-link:hover{
	color: var(--secondary_font_clr);
	transition: color .3s;
	border-right: 1px solid #888;
}






section{
	height: auto;
	width: 90vw;
	padding: 5%;
	overflow: hidden;
}

/* carousel */

.carousel{
	height: 100vh;
	margin: 0 auto;
}
.carousel-item img{
	height: 100%;
	width: 100%;
}
.carousel_content{
	position: absolute;
	top: 20%;
	left: 20%;
}
.carousel_content h4{
	font-family: var(--secondary_font);
	color: #fff;
	font-size: 3rem;
	padding: 2rem;
}
.carousel_content p{
	font-family: var(--text_font);
	color: #bbb;
	padding-bottom: 7rem;
}

  .btncarousel{
	font-size: 1rem;
	text-decoration: none;
	padding: 1rem 2rem;
 	transition:all .5s;
 	color: white!important;

}
 .btncarousel:hover{
 	text-decoration: none;
 	color: black!important;
 	background: #bbb;
 	transition:all .5s;
 }


.btn{
	font-size: 1.5rem;
	padding: .7rem 1.4rem;

}
.carousel_content a{
	border: 2px solid #fff;
	border-radius: 30px;
	color: white;
	transition: all .3s;
}
.btn-subscribe:hover{
	background: white;
	color: black;
	transition: all .3s;
}

/* maximize */

.Maximize h4{
	width: 80%;
	color: white;
	font-family: var(--secondary_font);
	font-size: 1.9rem;
	margin: 0 auto;
	text-align: center;
	font-style: italic;
	padding: 0 0 2rem 0;
}

.rows{
	display: flex;
	justify-content: space-between;
}

.horoscope{
	text-align: center;
}
.horoscope h5{
	color: var(--secondary_font_clr);
	padding: 1rem;
}
.horoscope p{
	color: #bbb;
}


/* astrology work */


.astrology_work{
	height: 70vh;
	width: 90vw;
	background-image: url('slide-3.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	margin: 0 auto;
	text-align: center;
}

.work_content{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.work_content i{
	font-size: 3rem;
}
.work_content h4{
	font-size: 2.5rem;
	color: white;
	font-family: var(--secondary_font);
	padding: .5rem 0;
}

.work_content p{
	color: white;
	font-family: var(--text_font);
	
}

.link-group{
	width: 50%;
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
}

 a.firstlink {
	background: var(--secondary_font_clr);
	color: white;
padding: .7rem 1.5rem;
border-radius: 30px;
}

.link-group a.secondlink {
	background: none;
	color: white;
	border: 2px solid #fff;
	padding: .7rem 1.5rem;
	border-radius: 30px;
}

 a.firstlink:hover {
	background: red;
	color: white;
	transition: all .5s;
}
.link-group a.secondlink:hover {
	background: white;
	color: black;
	transition: all .5s;
}


/* welcome */

.welcome{
	width: 70%;
	margin: 0 auto;
	text-align: center;
}
.welcome h4{
	font-size: 4rem;
	color: white;
	font-family: var(--secondary_font);
	padding: .5rem 0;
}

.welcome p{
	color: #aaa;
}

.welcome h6{
	padding-bottom: 2rem;
	color: #fff;
	font-size: 1.2rem;
}


/* news and articles */
.newsandarticles .container .row .col-lg-4{
	height: 300px;
	width: 100%;
	padding: 0;
	background: #303455;
	text-align: center;
}
.newsandarticles .container .row .col-lg-4 img{
	height: 100%;
	 width: 100%;
}

.newsandarticles .container .row .col-lg-4 i{
	color: var(--secondary_font_clr);
	font-size: 3rem;
	padding: 1rem;
}
.newsandarticles .container .row .col-lg-4 h5{
	color: var(--secondary_font_clr);
	padding: .5rem 0;
}
.newsandarticles .container .row .col-lg-4 p{
	color: #aaa;
	padding: 0 1rem;
}





.subscribe{
	display: flex;
	justify-content: space-around;
	width: 70%;
	margin: 6rem auto;

}
.newslettercontent{
	width: 30%;
	color: white;
}

.form input{
	background: none;
	border: 1px solid #fff;
	height: 3rem;
	padding: .5rem;
	width: 300px;
	color: white;
}


/* footer	 */

.footer{
	background:  #303455;
	margin: 0 auto;
	padding: 6rem 2rem;
}
.rightcontent{
	text-align: right;
}
.rightcontent h4{
	color: var(--secondary_font_clr);
}

.rightcontent p{
	color: #aaa;
}
.footercenter{
	text-align: center;
}
.footercenter i{
	font-size: 3rem;
	padding: 1rem;
}
.footercenter p{
	color: #aaa;
padding: 1rem;
}

.marginright span{
	color: #aaa;
	padding-left: 1rem;
	
}
.colorredicon{
	color: var(--secondary_font_clr);
	font-size: 2rem!important;
}

.marginright h5{
	color: white;
}



/* meadia query */

@media screen and (max-width: 900px){
	.navbar-toggler{
			color: white;
			font-size: 4rem!important;
	}
	.navbar-brand{
		display: none!important;
	}

	.carousel{
		height: 100%;
		width: 100%;
	}

	.carousel_content h4{
		font-size: 1.2rem;
	}

	.Maximize h4{
		font-size: 1.4rem;
		font-weight: bold;
	}


.work_content h4{
	font-size: 1.4rem;
}

.work_content i{
	font-size: 1rem;
}

.work_content p{
	font-size: 1rem;
}


	.second{
		display: none;
	}
	



	.astrology_work{
		height: 100vh;
	}

	.subscribe{
		display: block;
	}

	.subsbtn{
		margin-top: 2rem;
	}

.footer{
	text-align: center;
}

.rightcontent{
	text-align: center;
}
.link-group{
	display: block;
}

.firstlink,
.secondlink{
	margin: 1rem;
}

.newslettercontent{
	width: 100%;
}

}